body{
    background: lightblue;
}
.box{
    background: lightskyblue;
    height: 500px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10%;
}
.tulip-body{
    z-index: 2;
    /* background: darkred; */
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 80%;
    transform: rotate(20deg);
    margin-left: -60px;
}
.petal-left{
    border: 3px  solid darkred;
    background:lightcoral;
    height: 128px;
    width: 64px;
    border-radius: 100%;
    transform: rotate(-20deg);
    border-left: 8px solid darkred;
}
.petal-center{
    z-index: 2;
    border: 3px  solid darkred;
    background:lightcoral;
    height: 164px;
    width: 86px;
    border-radius: 100%;
    margin-right: -35%;
    margin-left: -35%;
    border-left: 24px solid darkred;
}
.petal-right{
    border: 3px  solid darkred;
    background:lightcoral;
    height: 128px;
    width: 64px;
    border-radius: 100%;
    transform: rotate(20deg);
    border-left: 8px solid darkred;
}
.stalk-body{
    /* background: lightgray; */
    height: 418px;
    width: 128px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}
.leaf{
    background: olivedrab;
    height: 128px;
    width: 48px;
    border-radius: 90%;
    transform: rotate(40deg);
    border-left: 6px solid darkolivegreen;
    margin-left: 8px;

}
.stalk{
    background: olivedrab;
    border-left: 4px solid darkolivegreen;
    height: 418px;
    width: 16px;
}