
body{
    background: lightgray;
}        
.box{
    position: relative;
    margin: 0 auto;
    background: lightskyblue;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10%;
}
.head-container{
    /* background: tan; */
    z-index: 3;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    border-radius: 80%;
    margin-left: -20px;
    margin-top: 20px;
}
.ear-left{
    z-index: -1;
    background: burlywood;
    height: 140px;
    width: 83px;
    /* border-radius: 50%; */
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 75%;
    margin-right: -45px;
    transform: rotate(30deg);
    margin-top: -10px;
    
}
.ear-right{
    z-index: -1;
    background: burlywood;
    height: 140px;
    width: 83px;
    /* border-radius: 75%; */
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 75%;
    margin-left: -45px;
    transform: rotate(-30deg);
    margin-top: -10px;
}
.head{
    /* z-index: 5; */
    background: burlywood;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom: 3px #7F6857 solid;
    border-right: 3px #7F6857 solid;
    border-left: 3px #7F6857 solid;
    height: 200px;
    width: 180px;
}
.eye-left{
    background: black;
    height: 32px;
    width: 32px;
    border-radius: 50%
}
.eye-right{
    background: black;
    height: 32px;
    width: 32px;
    border-radius: 50%
}
.muzzle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10%;
    height: 50px;
    width: 42px;
}
.nose{
    background: tomato;
    height: 24px;
    width: 24px;
    border-radius: 50%
}
.mouth{
    background: pink;
    height: 24px;
    width: 24px;
    border-radius: 50%
}
.body-container{
    /* background: tan; */
    z-index: 2;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
    /* border-radius: 90%; */
    margin-top: -50px;
    margin-left: 150px;
}
.body{
    background: burlywood;
    height: 300px;
    width: 200px;
    /* border-radius: 90%; */
     /* margin-right: -50px; */
    /* margin-left: -50px; */ 
    transform: rotate(-60deg);
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top: 3px #7F6857 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.tail{
    z-index: 5;
    /* background: burlywood; */
    height: 160px;
    width: 50px;
    border-radius: 80%;
    margin-bottom: -30px;
    margin-right: -200px;
    /* border-top: 3px #7F6857 solid; */
    border-left: 50px solid transparent;
    border-right: 50px burlywood solid;
    /* border-top-left-radius: 40%;
    border-top-right-radius: 40%; */
    transform: rotate(100deg);
}
.leg-container{
    align-self: baseline;
    z-index: 4;
    height: 350px;
    width: 150px;
    display: flex;
    flex-direction: row;
    /* margin-top: -40px; */
    /* margin-right: 100px; */

}
.leg-left{
    /* z-index: 4; */
    background: burlywood;
    height: 150px;
    width: 400px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-bottom: 3px #7F6857 solid;
    border-right: 3px #7F6857 solid;
    border-left: 3px #7F6857 solid;
    margin-left: 164px;
}
.leg-right{
    /* z-index: 4; */
    background: burlywood;
    height: 150px;
    width: 400px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-bottom: 3px #7F6857 solid;
    border-right: 3px #7F6857 solid;
    border-left: 3px #7F6857 solid;
    margin-right: -164px;
}

/* 

            <div class="body"></div>
            <div class="tail"></div>
        </div> */